# to install:
# sudo cp rcvbuf.service /etc/systemd/system/
# sudo chmod 644 /etc/systemd/system/rcvbuf.service

[Unit]
Description=Allow bigger UDP recv buffer

[Service]
Type=oneshot
ExecStart=/sbin/sysctl -w net.core.rmem_max=1000000
ExecStart=/sbin/sysctl -w net.core.rmem_default=1000000
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
